.header {
    position: relative;
    padding: 0 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    .header__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            cursor: pointer;
        }
    }

    .header__middle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        .header__middle-ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            gap: 2em;
            padding: 0;
            transition: all var(--duration-extra-short) ease-in-out;
            li {
                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 400;
                    font-size: 0.985em;
                    font-family: var(--font-family-1);
                    transition: all var(--duration-short) ease-in-out;
                    text-transform: none;
                    position: relative;
                    &:hover {
                        color: var(--color-primary-hover);
                    }
                    &:hover + .header__middle__content {
                        top: 101%;
                        opacity: 1;
                        visibility: visible;
                    }
                }
                .header__middle__content {
                    position: absolute;
                    display: flex;
                    visibility: hidden;
                    flex-direction: row;
                    background-color: #fff;
                    box-shadow: var(--box-shadow-focus);
                    border-radius: 0 0 10px 10px;
                    top: 150%;
                    left: 57%;
                    transform: translateX(-50%);
                    opacity: 0;
                    padding: 1.5em 2em 1em 2em;
                    gap: 1.5em;
                    transition: all var(--duration-short) ease-in-out;
                    .header__middle__content-container {
                        display: flex;
                        flex-direction: column;
                        width: 150px;
                        .header__middle__title{
                            span{
                                font-size: 0.9rem;
                                font-weight: 500;
                                font-family: var(--font-family-1);
                                color: var(--title-cl-second);
                            }
                            
                        }
                        .line{
                            width: 100%;
                            height: 1px;
                            background-color: #ccc;
                            margin: 0.5em 0;
                        }
                        .header__middle__list {
                            align-self: flex-start;
                            ul{
                                list-style-type: none;
                                padding: 0;
                                display: flex;
                                flex-direction: column;
                                
                                li{
                                    padding: 6.5px 0;
                                    position: relative;
                                    a{
                                        text-decoration: none;
                                        color : var(--text-color);
                                        font-size: 0.85rem;
                                        align-self: flex-start;
                                        &:hover{
                                            color: var(--color-primary-hover);
                                        }
                                    }
                                    .new::before{
                                        position: absolute;
                                        content : "New";
                                        width: 30px;
                                        height: 15px;
                                        background-color: var(--color-primary-hover);
                                        border-radius: 30px;
                                        color: #fff;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 0.6rem;
                                        font-family: var(--font-family-1);
                                        top: -40%;
                                        left: 100%;
                                    }
                                    .hot::before{
                                            position: absolute;
                                            content : "Hot";
                                            width: 30px;
                                            height: 15px;
                                            background-color: #ff3e11;
                                            border-radius: 30px;
                                            color: #fff;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            font-size: 0.6rem;
                                            font-family: var(--font-family-1);
                                            top: -40%;
                                            left: 100%;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        top: 101%;
                        opacity: 1;
                        visibility: visible;
                    }
                    .header__middle__special {
                        display: flex;
                        gap : 1.5em;
                        .header__middle__speicial {
                            display: flex;
                            flex-direction: row;
                            overflow: hidden;
                            position: relative;
                            width: 250px;
                            height: 90%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all var(--duration-long) ease-in-out;
                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                            
                            .header__middle__btn {
                                width: 150px;
                                position: absolute;
                                content: "";
                                margin: auto;
                                bottom: 5%;
                                left: 50%;
                                transform: translateX(-50%);
                                border: none;
                                background-color: #fff;
                                padding: 0.5em 1em;
                                font-size: 0.9rem;
                                font-weight: 600;
                                color: var(--title-cl-second);
                                font-family: var(--font-family-1);
                                box-shadow: 1px 1px #0000001a;

                                transition:
                                    background-color var(--duration-short) ease-in-out,
                                    color var(--duration-short) ease-in-out;

                                &:hover {
                                    background-color: var(--title-cl-second);
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header__left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em;

        .header__icons {
            font-size: 1.3em;
            color: var(--h-text-color);
            cursor: pointer;
            transition: all var(--duration-short) ease-in-out;
            &:hover {
                color: var(--color-primary-hover);
                transform: scale(1.25);
            }
        }
    }
    .hidden__login{

        
        .hidden__middle{
            display: flex;
            flex-direction: column;
            padding: 1em;

            .hidden-form{
                .field{
                    height: 45px;
                    font-family: var(--font-family-1);
                    font-size: 0.95rem;
                    border-color: #b8b8b8;
                    &::placeholder{
                        color:#b8b8b8;
                    }   
                }
            }
            .hidden-login__link{
                margin: 1em 0em;
                a{
                    font-family: var(--font-family-1);
                    font-size: 0.9rem;
                    color: var(--link-color);
                    transition: all var(--duration-short) ease-in-out;
                    &:hover{
                        color: var(--color-primary-hover);
                    }
                }
            }
            .hidde-login__btn{
                button{
                    width: 100%;
                    height: 45px;
                    border-radius: 30px;
                    border: none;
                    background-color: var(--color-primary-hover);
                    color: #fff;
                    font-family: var(--font-family-1);
                    font-size: 0.9rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: all var(--duration-short) ease-in-out;
                    &:hover{
                        background-color: var(--accent-color-darken);
                    }
                }
            }
        }
    }
    .header__search-hidden {
        position: absolute;
        z-index: 30;
        width: 350px;
        height: 100vh;
        background-color: #fff;
        right: 0;
        top: 0;
        transform: translateX(100%);
        display: flex;
        flex-direction: column;
        transition: all var(--duration-long) ease-in-out;

        .header__search-hidden__top {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            border-bottom: 1px solid #ccc;
            span {
                font-family: var(--font-family-1);
                font-size: 1.2rem;
            }
            .close-icon {
                font-size: 1.2rem;
                cursor: pointer;
                transition: all var(--duration-short) ease-in-out;
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
        .header__search-hidden__middle {
            display: flex;
            flex-direction: column;
            padding: 2em 1em;
            gap: 1em;

            .select-categories {
                border: 1px solid #ccc;
                border-radius: 30px;
                padding: 0.5em 1em;
                font-size: 0.9rem;
                font-family: var(--font-family-1);
                outline: none;
                vertical-align: middle;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                background-image: url("../../assets/images/select-arrow.svg");
                background-repeat: no-repeat;
                background-position: calc(100% - 10px) center;
                background-color: white;
                background-size: 15px 16px;
            }
        }
    }
    .show_search {
        transform: translateX(0%);
    }
    
}
.signup-element , .login-element{
    animation: 1s t4s-ani-fadeIn;
}
.aria-hidden{
    display: none;
}
@keyframes t4s-ani-fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}